<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
    <h1> Where I am From</h1>  <!-- Can I just get an A if any of these make you laugh -->
    <p1>Hello my name is <Strong> Manoel </Strong>I am an <em>international Mars Student</em>. I came to college park to study
    Information Systems</p1>
    <h2>Passions</h2>
    <p1>I enjoy lifting weights and <Strong> eating food</Strong>. My maximum <em> bench press is 25lbs</em>, and I am proud of it.
    My favorite food is rice and chicken because it is easy to cook and I don't know how to cook</p1>
    <h2> Favorite Lifts</h2>
    <ul>
        <li>Lat Pull Down</li>
        <li>Dumbbell Bench Press</li>
        <li>Squats</li>
    </ul>
    <h2> Favorite Foods</h2>
    <ol>
        <li>Rice and Chicken</li>
        <li>Peanut Butter and Sand</li>
        <li>Flashlight Juice and Pizza</li>
    </ol>
    <h2> Courses Taken</h2>  <!-- One course each from fall 2019  to fall 2021 -->
        <table>
            <tr>
                <th>Course</th>
                <th>Semester Taken</th>
            </tr>
            <tr>
                <td>BMGT230</td>
                <td>FALL2019</td>
            </tr>
            <tr>
                <td>BMGT350</td>
                <td>FALL2020</td>
            </tr>
            <tr>
                <td>BMGT340</td>
                <td>FALL2021</td>
            </tr>

        </table>
        <h2>Hyperlinks</h2> <!-- Tap a hyperlink at your own risk -->
        <a href="/hello">Hello Page</a>
        <a href="https://www.youtube.com/">Favorite Website One</a>
        <a href="https://www.google.com/" target="_blank">Favorite Website Two</a>
        <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="250" height="72" alt="SmithLogo">









</body>
</html>